<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csx.demo2.dao.MessageDao">
    <select id="select" parameterType="com.csx.demo2.entity.Message" resultType="com.csx.demo2.entity.Message"
            resultMap="map">
        select a.*,b.group_id from message a left join user b on a.user_id=b.id
        <where>
            <if test="id!=null">
                and a.id=${id}
            </if>
            <if test="label!=null">
                and label=#{label}
            </if>
            <if test="detail!=null">
                and detail=#{detail}
            </if>
            <if test="date_create!=null">
                and date_create=#{date_create}
            </if>
            <if test="date_edit!=null">
                and date_edit=#{date_edit}
            </if>
            <if test="user_id!=null">
                and user_id=#{user_id}
            </if>
        </where>
    </select>
    <select id="selectGroup" parameterType="com.csx.demo2.entity.User" resultType="com.csx.demo2.entity.Message"
            resultMap="map">
        select a.*,b.group_id from message a left join user b on a.user_id=b.id where b.group_id =#{group_id}
    </select>
    <select id="selectOtherGroup" parameterType="com.csx.demo2.entity.User" resultType="com.csx.demo2.entity.Message"
            resultMap="map">
        select a.*,b.group_id from message a left join user b on a.user_id=b.id where b.group_id !=#{group_id}
    </select>

    <select id="selectByUserName" parameterType="java.lang.String" resultType="com.csx.demo2.entity.Message"
            resultMap="map">
        select a.*,b.group_id from message a left join user b on a.user_id=b.id where name=#{name}
    </select>
    <update id="update" parameterType="com.csx.demo2.entity.Message">
        update message
        <set>
            <if test="label!=null">
                label=#{label},
            </if>
            <if test="detail!=null">
                detail=#{detail},
            </if>
            <if test="date_create!=null">
                date_create=#{date_create},
            </if>
            <if test="date_edit!=null">
                date_edit=#{date_edit},
            </if>
            <if test="user_id!=0">
                user_id=${user_id}
            </if>
        </set>
        where id=#{id}
    </update>
    <insert id="insert" parameterType="com.csx.demo2.entity.Message">
        insert into message(label,detail,date_create,date_edit,user_id)
        values(#{label},#{detail},#{date_create},#{date_edit},#{user_id})
    </insert>
    <delete id="deleteById" parameterType="int">
        delete from message where id=#{id}
    </delete>


    <select id="test" parameterType="com.csx.demo2.entity.User" resultType="com.csx.demo2.entity.Message"
            resultMap="map">
        select a.*,b.group_id from message a left join user b on a.user_id=b.id where b.group_id =#{group_id}
    </select>

    <resultMap id="map" type="com.csx.demo2.entity.Message">
        <id column="id" property="id"></id>
        <result column="label" property="label"></result>
        <result column="detail" property="detail"></result>
        <result column="date_create" property="date_create"></result>
        <result column="date_edit" property="date_edit"></result>
        <result column="user_id" property="user_id"></result>
        <association property="user">
            <id column="user_id" property="id"></id>
            <result column="group_id" property="group_id"></result>
        </association>
    </resultMap>
</mapper>