<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csx.demo2.dao.RoleDao">
    <select id="select" parameterType="com.csx.demo2.entity.Role" resultType="com.csx.demo2.entity.Role">
        select * from role
        <where>
            <if test="id！=null">
                and id=#{id}
            </if>
            <if test="name！=null">
                and name=#{name}
            </if>
        </where>
    </select>
</mapper>