<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csx.demo2.dao.UserDao">

    <select id="findpage" parameterType="Page" resultType="User">
        SELECT * FROM user
        <where>
            <if test="user != null">
                <if test="user.name != null">
                    and name=#{user.name}
                </if>
                <if test="user.id != null">
                    and id=#{user.id}
                </if>
            </if>
        </where>
        LIMIT #{startIndex},#{pageSize}
    </select>
    <select id="select" parameterType="User" resultType="User">
        select * from user
        <where>
            <if test="id!=null">
                and id=#{id}
            </if>
            <if test="name!=null">
                and name=#{name}
            </if>
            <if test="password!=null">
                and password=#{password}
            </if>
            <if test="email!=null">
                and email=#{email}
            </if>
            <if test="phone!=null">
                and phone=#{phone}
            </if>
            <if test="group_id!=null">
                and group_id=#{group_id}
            </if>
            <if test="head_id!=null">
                and head_id=#{head_id}
            </if>
            <if test="count_message!=null">
                and count_message=#{count_message}
            </if>
        </where>
    </select>
    <update id="update" parameterType="User">
        update user
        <set>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="password!=null">
                password=#{password},
            </if>
            <if test="email!=null">
                email=#{email},
            </if>
            <if test="phone!=null">
                phone=#{phone},
            </if>
            <if test="group_id!=null">
                group_id=#{group_id},
            </if>
            <if test="head_id!=null">
                head_id=#{head_id},
            </if>
            <if test="count_message!=null">
                count_message=#{count_message},
            </if>
        </set>
        where id=#{id}
    </update>
</mapper>