<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csx.demo2.dao.BillItemDao">
    <select id="selectBill" parameterType="java.lang.Integer" resultType="com.csx.demo2.entity.BillItem">
        select * from billitem where user_id=#{userid}
    </select>
    <insert id="insert" parameterType="com.csx.demo2.entity.BillItem">
        insert into billitem(type,money,user_id,date) values(#{type},#{money},#{user_id},#{date})
    </insert>
    <delete id="deleteAllBillItem" parameterType="java.lang.Integer">
        delete from billitem where user_id=#{userid}
    </delete>
</mapper>